<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=10.90.90.58,1480;Initial Catalog=incube;Persist Security Info=True;User ID=sa;Password=111zzz***"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>